![Instructions for exercise](Images/2-1.png)

In [8]:
import os
wd = os.getcwd()
os.listdir(wd)

['.ipynb_checkpoints',
 'Data',
 'Images',
 'Importing_data_from_other_file_types.ipynb',
 'Introduction_and_flat_files.ipynb',
 'Untitled.ipynb']

![Instructions for exercise](Images/2-2.png)

In [3]:
# What is a pickled file?

# A **pickled file** is just a file that stores Python objects in a special binary format created by Python‚Äôs `pickle` module.

# Think of it as ‚Äúfreezing‚Äù a Python object so you can save it to disk or send it somewhere, then ‚Äúthawing‚Äù it later to get the exact same object back.

# * **Pickling** = converting the object ‚Üí byte stream
# * **Unpickling** = converting the byte stream ‚Üí original object

# Example:

import pickle

# Pickle (save)
data = {"name": "Alice", "age": 30}
with open("data.pkl", "wb") as f:
    pickle.dump(data, f)

# Unpickle (load)
with open("data.pkl", "rb") as f:
    restored = pickle.load(f)

print(restored)  # {'name': 'Alice', 'age': 30}

# üìå **Important:** Never unpickle files from untrusted sources ‚Äî they can run malicious code on your machine.

In [ ]:
# So its a nice way to store some data without having to use a txt file

# Exactly ‚Äî it‚Äôs like a snapshot of a Python object you can save and load without having to manually format it into text (like CSV, JSON, or plain .txt).

# The nice part is:

    # You don‚Äôt have to worry about converting types ‚Äî lists, dicts, sets, even custom classes get stored as-is.
    # When you load it back, you get the exact same Python object structure.

# The not-so-nice parts:

    # It‚Äôs Python-only ‚Äî other languages won‚Äôt natively understand it.
    # It‚Äôs not human-readable (binary format).
    # It‚Äôs unsafe to load from untrusted sources, because it can execute arbitrary code.

# Import pickle package


# Open pickle file and load data: d
with open('data.pkl', ____) as file:
    d = pickle.load(____)

# Print d
print(____)

# Print datatype of d
print(____)

In [12]:
# Import pickle package
import pickle

# SAVING A PICKLE
filename = 'Data/data.pkl'
data = {'June': '69.4', 'Aug': '85', 'Airline': '8', 'Mar': '84.4'}

def save(filename, data):
    with open(filename, "wb") as f:
        pickle.dump(data, f)

save(filename, data)

In [13]:
# Import pickle package
import pickle

# GETTING A PICKLE

# Open pickle file and load data: d
with open('Data/data.pkl', 'rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

{'June': '69.4', 'Aug': '85', 'Airline': '8', 'Mar': '84.4'}
<class 'dict'>

![Instructions for exercise](Images/2-3.png)

# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = ____

# Load spreadsheet: xls
xls = pd.ExcelFile(____)

# Print sheet names
print(____)

In [18]:
# Import pandas
import pandas as pd


# Assign spreadsheet filename: file
file = 'Data/testdata.xlsx'

# Load spreadsheet: xls
xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

['Russia Visit Data']

![Instructions for exercise](Images/2-4.png)

# Load a sheet into a DataFrame by name: df1
df1 = xls.parse(____)

# Print the head of the DataFrame df1
print(____)

# Load a sheet into a DataFrame by index: df2


# Print the head of the DataFrame df2
print(____)

In [19]:
# Load a sheet into a DataFrame by name: df1
sheet_name = 'Russia Visit Data'
df1 = xls.parse(sheet_name)

# Print the head of the DataFrame df1
print(df1.head())

   No         Leader     Status  Status Id  Leader Id     Country  \
0   1  Boris Yeltsin  President          1          1      France
1   2  Boris Yeltsin  President          1          1     Germany
2   3  Boris Yeltsin  President          1          1     Romania
3   4  Boris Yeltsin  President          1          1     Vatican
4   5  Boris Yeltsin  President          1          1  Kazakhstan

  CountryCode_ CountryCode   Cown  Year  ...            Content City  \
0          FRA         FRN  220.0  1991  ...                NaN  NaN
1          DEU         GMY  255.0  1991  ...                NaN  NaN
2          ROU         ROM  360.0  1991  ...                NaN  NaN
3          NaN         NaN    NaN  1991  ...                NaN  NaN
4          KAZ         KZK  705.0  1991  ...  Alma-Ata Protocol  NaN

  Group Visit  Group Order Group Id  \
0         0.0          1.0      1.0
1         0.0          1.0      2.0
2         0.0          1.0      3.0
3         0.0          1.0      4.0
4         0.0          1.0      5.0

                                              Source Access Date  Source Data  \
0   Yeltsin working for links between Europe, Russia  2023-11-11          1.0
1     Honecker vows never to return to Germany alive  2023-11-11          2.0
2                     Boris Yeltsin to visit Romania  2023-11-11          NaN
3  Religion makes a comeback in the former commun...  2023-11-11          3.0
4  Four former Soviet rePublics to sign nuclear pact  2023-11-11          4.0

                                      Control Source  \
0                                                NaN
1  https://www.latimes.com/archives/la-xpm-1991-1...
2                                                NaN
3    https://sputnikmediabank.com/media/6382715.html
4  https://cdn.istanbul.edu.tr/file/JTA6CLJ8T5/DB...

                                             Note
0  An unOfficial visit during de facto presidency
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

[5 rows x 25 columns]

In [ ]:
# Load a sheet into a DataFrame by name: df1

sheet_name_1 = '2004'
sheet_name_2 = '2002'

df1 = xls.parse(sheet_name_1)

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index: df2
df2 = xls.parse(0)

# Print the head of the DataFrame df2
print(df2.head())

In [ ]:
#   War(country)   2004
# 0  Afghanistan  9.451
# 1      Albania  0.130
# 2      Algeria  3.407
# 3      Andorra  0.000
# 4       Angola  2.598
#   War, age-adjusted mortality due to    2002
# 0                        Afghanistan  36.084
# 1                            Albania   0.129
# 2                            Algeria  18.314
# 3                            Andorra   0.000
# 4                             Angola  18.965

![Instructions for exercise](Images/2-5.png)

# Parse the first sheet and rename the columns: df1
df1 = xls.parse(____, skiprows=____, names=____)

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xls.parse(____, usecols=____, skiprows=____, names=____)

# Print the head of the DataFrame df2
print(df2.head())

In [21]:
# Load a sheet into a DataFrame by name: df1
sheet_name = 'Russia Visit Data'
df1 = xls.parse(sheet_name)

# Print the head of the DataFrame df1
print(df1.head())

   No         Leader     Status  Status Id  Leader Id     Country  \
0   1  Boris Yeltsin  President          1          1      France
1   2  Boris Yeltsin  President          1          1     Germany
2   3  Boris Yeltsin  President          1          1     Romania
3   4  Boris Yeltsin  President          1          1     Vatican
4   5  Boris Yeltsin  President          1          1  Kazakhstan

  CountryCode_ CountryCode   Cown  Year  ...            Content City  \
0          FRA         FRN  220.0  1991  ...                NaN  NaN
1          DEU         GMY  255.0  1991  ...                NaN  NaN
2          ROU         ROM  360.0  1991  ...                NaN  NaN
3          NaN         NaN    NaN  1991  ...                NaN  NaN
4          KAZ         KZK  705.0  1991  ...  Alma-Ata Protocol  NaN

  Group Visit  Group Order Group Id  \
0         0.0          1.0      1.0
1         0.0          1.0      2.0
2         0.0          1.0      3.0
3         0.0          1.0      4.0
4         0.0          1.0      5.0

                                              Source Access Date  Source Data  \
0   Yeltsin working for links between Europe, Russia  2023-11-11          1.0
1     Honecker vows never to return to Germany alive  2023-11-11          2.0
2                     Boris Yeltsin to visit Romania  2023-11-11          NaN
3  Religion makes a comeback in the former commun...  2023-11-11          3.0
4  Four former Soviet rePublics to sign nuclear pact  2023-11-11          4.0

                                      Control Source  \
0                                                NaN
1  https://www.latimes.com/archives/la-xpm-1991-1...
2                                                NaN
3    https://sputnikmediabank.com/media/6382715.html
4  https://cdn.istanbul.edu.tr/file/JTA6CLJ8T5/DB...

                                             Note
0  An unOfficial visit during de facto presidency
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

[5 rows x 25 columns]

In [ ]:
df1 = xls.parse(0, skiprows=[0], names=['Country'])
print(df1.head())

# Parse the first column of the second sheet (index 1), skip the first row, rename column
df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])
print(df2.head())

In [ ]:
#                Country  AAM due to War (2002)
# 0              Albania                  0.129
# 1              Algeria                 18.314
# 2              Andorra                  0.000
# 3               Angola                 18.965
# 4  Antigua and Barbuda                  0.000
#                Country
# 0              Albania
# 1              Algeria
# 2              Andorra
# 3               Angola
# 4  Antigua and Barbuda

In [ ]:
# Your Excel file probably looked something like this:

In [22]:
# Sheet 1 (index 0):
# | (row 0)        | (col 0) Country | (col 1) AAM due to War (2002) |
# | -------------- | --------------- | ----------------------------- |
# | **Header Row** | Country Name    | Deaths                        |
# | 1              | Albania         | 0.129                         |
# | 2              | Algeria         | 18.314                        |
# | 3              | Andorra         | 0.000                         |
# | 4              | Angola          | 18.965                        |
# | 5              | Antigua ...     | 0.000                         |

In [24]:
# Sheet 2 (index 1):
# | (row 0)        | (col 0) Country |
# | -------------- | --------------- |
# | **Header Row** | Country Name    |
# | 1              | Albania         |
# | 2              | Algeria         |
# | 3              | Andorra         |
# | 4              | Angola          |
# | 5              | Antigua ...     |

In [ ]:
What your code did:

In [ ]:
# For Sheet 1 (df1)

#     Skipped row 0 (the header row in Excel) so that Pandas wouldn‚Äôt use it automatically.
#     Assigned your own column names: "Country" and "AAM due to War (2002)".
#     Result:

In [ ]:
#     Country           AAM due to War (2002)
# 0   Albania           0.129
# 1   Algeria           18.314
# 2   Andorra           0.000
# 3   Angola            18.965
# 4   Antigua and Barbuda  0.000

In [26]:
# For Sheet 2 (df2)

#     Skipped row 0 (header).
#     Selected only the first column (usecols=[0]).
#     Renamed it "Country".

In [ ]:
#     Country
# 0   Albania
# 1   Algeria
# 2   Andorra
# 3   Angola
# 4   Antigua and Barbuda

In [28]:
# So that why the output looks like this:

#                Country  AAM due to War (2002)
# 0              Albania                  0.129
# 1              Algeria                 18.314
# 2              Andorra                  0.000
# 3               Angola                 18.965
# 4  Antigua and Barbuda                  0.000
#                Country
# 0              Albania
# 1              Algeria
# 2              Andorra
# 3               Angola
# 4  Antigua and Barbuda

In [ ]:
![Instructions for exercise](Images/2-1.png)