In [4]:
# Prerequisites: Pandas Unit (Pandas_Foundations)

In [3]:
import pandas as pd
fileName = "./csvs/pit.csv"
pit_df = pd.read_csv(fileName)

print(pit_df)

  Team League  Year   RS   RA   W    G  Playoffs
0  PIT     NL  2012  651  674  79  162         0
1  PIT     NL  2011  610  712  72  162         0
2  PIT     NL  2010  587  866  57  162         0
3  PIT     NL  2009  636  768  62  161         0
4  PIT     NL  2008  735  884  67  162         0

In [6]:
# # Iterate over pit_df and print each row
for i, row in pit_df.iterrows():
    print(row)

Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object
Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object
Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object
Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object
Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object

In [7]:
# Iterate over pit_df and print each index variable, row, and row type
for i, row in pit_df.iterrows():
    print(i)
    print(row)
    print(type(row))

0
Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
1
Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object
<class 'pandas.core.series.Series'>
2
Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object
<class 'pandas.core.series.Series'>
3
Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object
<class 'pandas.core.series.Series'>
4
Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object
<class 'pandas.core.series.Series'>

In [9]:
# Use one variable instead of two to store the result of .iterrows()
for row_tuple in pit_df.iterrows():
    print(row_tuple)

(0, Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
(1, Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
(2, Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
(3, Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
(4, Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)

In [11]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(0, Team         PIT
League        NL
Year        2012
RS           651
RA           674
W             79
G            162
Playoffs       0
Name: 0, dtype: object)
<class 'tuple'>
(1, Team         PIT
League        NL
Year        2011
RS           610
RA           712
W             72
G            162
Playoffs       0
Name: 1, dtype: object)
<class 'tuple'>
(2, Team         PIT
League        NL
Year        2010
RS           587
RA           866
W             57
G            162
Playoffs       0
Name: 2, dtype: object)
<class 'tuple'>
(3, Team         PIT
League        NL
Year        2009
RS           636
RA           768
W             62
G            161
Playoffs       0
Name: 3, dtype: object)
<class 'tuple'>
(4, Team         PIT
League        NL
Year        2008
RS           735
RA           884
W             67
G            162
Playoffs       0
Name: 4, dtype: object)
<class 'tuple'>

In [12]:
import pandas as pd
fileName = "./csvs/giants.csv"
giants_df = pd.read_csv(fileName)

print(giants_df)

  Team League  Year   RS   RA   W    G  Playoffs
0  SFG     NL  2012  718  649  94  162         1
1  SFG     NL  2011  570  578  86  162         0
2  SFG     NL  2010  697  583  92  162         1
3  SFG     NL  2009  657  611  88  162         0
4  SFG     NL  2008  640  759  72  162         0

In [15]:
def calc_run_diff(runs_scored, runs_allowed):
    run_diff = runs_scored - runs_allowed
    return run_diff

In [13]:
# Create an empty list to store run differentials
run_diffs = []

In [16]:
# Write a for loop and collect runs allowed and runs scored for each row
for i, row in giants_df.iterrows():
    runs_scored = row["RS"]
    runs_allowed = row["RA"]

    run_diff = calc_run_diff(runs_scored, runs_allowed)

    run_diffs.append(run_diff)

giants_df["RD"] = run_diffs
print(giants_df)

  Team League  Year   RS   RA   W    G  Playoffs   RD
0  SFG     NL  2012  718  649  94  162         1   69
1  SFG     NL  2011  570  578  86  162         0   -8
2  SFG     NL  2010  697  583  92  162         1  114
3  SFG     NL  2009  657  611  88  162         0   46
4  SFG     NL  2008  640  759  72  162         0 -119

In [23]:
giants_df["RD"] = giants_df["RS"] - giants_df["RA"] 
print(giants_df)

  Team League  Year   RS   RA   W    G  Playoffs   RD
0  SFG     NL  2012  718  649  94  162         1   69
1  SFG     NL  2011  570  578  86  162         0   -8
2  SFG     NL  2010  697  583  92  162         1  114
3  SFG     NL  2009  657  611  88  162         0   46
4  SFG     NL  2008  640  759  72  162         0 -119

In [21]:
# Why did we just do that if the second is far more efficient?
# Sabi: The first approach is only useful if calc_run_diff() is doing something more complex than simple subtraction. 
# Otherwise, stick with the second approach!

In [35]:
%%timeit
import pandas as pd

run_diffs = []
def setDF():
    for i, row in giants_df.iterrows():
        runs_scored = row["RS"]
        runs_allowed = row["RA"]
        run_diff = calc_run_diff(runs_scored, runs_allowed)
        run_diffs.append(run_diff)
    
    giants_df["RD"] = run_diffs

98.6 ns ± 0.461 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [36]:
%%timeit
giants_df["RD"] = giants_df["RS"] - giants_df["RA"]

54.1 μs ± 461 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [57]:
#The second approach is insanely better...
# https://www.youtube.com/watch?v=6M-NkQAo-3E

In [ ]:
for rt in df.intertuples():
    print(df.RD) #Square bracket notation does not work

In [4]:
import pandas as pd
fileName = "./csvs/rangers.csv"
rangers_df = pd.read_csv(fileName)

print(rangers_df)

   Team League  Year   RS   RA   W    G  Playoffs
0   TEX     AL  2012  808  707  93  162         1
1   TEX     AL  2011  855  677  96  162         1
2   TEX     AL  2010  787  687  90  162         1
3   TEX     AL  2009  784  740  87  162         0
4   TEX     AL  2008  901  967  79  162         0
5   TEX     AL  2007  816  844  75  162         0
6   TEX     AL  2006  835  784  80  162         0
7   TEX     AL  2005  865  858  79  162         0
8   TEX     AL  2004  860  794  89  162         0
9   TEX     AL  2003  826  969  71  162         0
10  TEX     AL  2002  843  882  72  162         0
11  TEX     AL  2001  890  968  73  162         0
12  TEX     AL  2000  848  974  71  162         0
13  TEX     AL  1999  945  859  95  162         1
14  TEX     AL  1998  940  871  88  162         1
15  TEX     AL  1997  807  823  77  162         0
16  TEX     AL  1996  928  799  90  163         1
17  TEX     AL  1993  835  751  86  162         0
18  TEX     AL  1992  682  753  77  162         0
19  TEX     AL  1991  829  814  85  162         0
20  TEX     AL  1990  676  696  83  162         0
21  TEX     AL  1989  695  714  83  162         0
22  TEX     AL  1988  637  735  70  161         0
23  TEX     AL  1987  823  849  75  162         0
24  TEX     AL  1986  771  743  87  162         0
25  TEX     AL  1985  617  785  62  161         0
26  TEX     AL  1984  656  714  69  161         0
27  TEX     AL  1983  639  609  77  163         0
28  TEX     AL  1982  590  749  64  162         0
29  TEX     AL  1980  756  752  76  163         0
30  TEX     AL  1979  750  698  83  162         0
31  TEX     AL  1978  692  632  87  162         0
32  TEX     AL  1977  767  657  94  162         0
33  TEX     AL  1976  616  652  76  162         0
34  TEX     AL  1975  714  733  79  162         0
35  TEX     AL  1974  690  698  83  161         0
36  TEX     AL  1973  619  844  57  162         0

In [9]:
for rt in rangers_df.itertuples():
    print(rt)

Pandas(Index=0, Team='TEX', League='AL', Year=2012, RS=808, RA=707, W=93, G=162, Playoffs=1)
Pandas(Index=1, Team='TEX', League='AL', Year=2011, RS=855, RA=677, W=96, G=162, Playoffs=1)
Pandas(Index=2, Team='TEX', League='AL', Year=2010, RS=787, RA=687, W=90, G=162, Playoffs=1)
Pandas(Index=3, Team='TEX', League='AL', Year=2009, RS=784, RA=740, W=87, G=162, Playoffs=0)
Pandas(Index=4, Team='TEX', League='AL', Year=2008, RS=901, RA=967, W=79, G=162, Playoffs=0)
Pandas(Index=5, Team='TEX', League='AL', Year=2007, RS=816, RA=844, W=75, G=162, Playoffs=0)
Pandas(Index=6, Team='TEX', League='AL', Year=2006, RS=835, RA=784, W=80, G=162, Playoffs=0)
Pandas(Index=7, Team='TEX', League='AL', Year=2005, RS=865, RA=858, W=79, G=162, Playoffs=0)
Pandas(Index=8, Team='TEX', League='AL', Year=2004, RS=860, RA=794, W=89, G=162, Playoffs=0)
Pandas(Index=9, Team='TEX', League='AL', Year=2003, RS=826, RA=969, W=71, G=162, Playoffs=0)
Pandas(Index=10, Team='TEX', League='AL', Year=2002, RS=843, RA=882, W=72, G=162, Playoffs=0)
Pandas(Index=11, Team='TEX', League='AL', Year=2001, RS=890, RA=968, W=73, G=162, Playoffs=0)
Pandas(Index=12, Team='TEX', League='AL', Year=2000, RS=848, RA=974, W=71, G=162, Playoffs=0)
Pandas(Index=13, Team='TEX', League='AL', Year=1999, RS=945, RA=859, W=95, G=162, Playoffs=1)
Pandas(Index=14, Team='TEX', League='AL', Year=1998, RS=940, RA=871, W=88, G=162, Playoffs=1)
Pandas(Index=15, Team='TEX', League='AL', Year=1997, RS=807, RA=823, W=77, G=162, Playoffs=0)
Pandas(Index=16, Team='TEX', League='AL', Year=1996, RS=928, RA=799, W=90, G=163, Playoffs=1)
Pandas(Index=17, Team='TEX', League='AL', Year=1993, RS=835, RA=751, W=86, G=162, Playoffs=0)
Pandas(Index=18, Team='TEX', League='AL', Year=1992, RS=682, RA=753, W=77, G=162, Playoffs=0)
Pandas(Index=19, Team='TEX', League='AL', Year=1991, RS=829, RA=814, W=85, G=162, Playoffs=0)
Pandas(Index=20, Team='TEX', League='AL', Year=1990, RS=676, RA=696, W=83, G=162, Playoffs=0)
Pandas(Index=21, Team='TEX', League='AL', Year=1989, RS=695, RA=714, W=83, G=162, Playoffs=0)
Pandas(Index=22, Team='TEX', League='AL', Year=1988, RS=637, RA=735, W=70, G=161, Playoffs=0)
Pandas(Index=23, Team='TEX', League='AL', Year=1987, RS=823, RA=849, W=75, G=162, Playoffs=0)
Pandas(Index=24, Team='TEX', League='AL', Year=1986, RS=771, RA=743, W=87, G=162, Playoffs=0)
Pandas(Index=25, Team='TEX', League='AL', Year=1985, RS=617, RA=785, W=62, G=161, Playoffs=0)
Pandas(Index=26, Team='TEX', League='AL', Year=1984, RS=656, RA=714, W=69, G=161, Playoffs=0)
Pandas(Index=27, Team='TEX', League='AL', Year=1983, RS=639, RA=609, W=77, G=163, Playoffs=0)
Pandas(Index=28, Team='TEX', League='AL', Year=1982, RS=590, RA=749, W=64, G=162, Playoffs=0)
Pandas(Index=29, Team='TEX', League='AL', Year=1980, RS=756, RA=752, W=76, G=163, Playoffs=0)
Pandas(Index=30, Team='TEX', League='AL', Year=1979, RS=750, RA=698, W=83, G=162, Playoffs=0)
Pandas(Index=31, Team='TEX', League='AL', Year=1978, RS=692, RA=632, W=87, G=162, Playoffs=0)
Pandas(Index=32, Team='TEX', League='AL', Year=1977, RS=767, RA=657, W=94, G=162, Playoffs=0)
Pandas(Index=33, Team='TEX', League='AL', Year=1976, RS=616, RA=652, W=76, G=162, Playoffs=0)
Pandas(Index=34, Team='TEX', League='AL', Year=1975, RS=714, RA=733, W=79, G=162, Playoffs=0)
Pandas(Index=35, Team='TEX', League='AL', Year=1974, RS=690, RA=698, W=83, G=161, Playoffs=0)
Pandas(Index=36, Team='TEX', League='AL', Year=1973, RS=619, RA=844, W=57, G=162, Playoffs=0)

In [10]:
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
    print(i, year, wins)

0 2012 93
1 2011 96
2 2010 90
3 2009 87
4 2008 79
5 2007 75
6 2006 80
7 2005 79
8 2004 89
9 2003 71
10 2002 72
11 2001 73
12 2000 71
13 1999 95
14 1998 88
15 1997 77
16 1996 90
17 1993 86
18 1992 77
19 1991 85
20 1990 83
21 1989 83
22 1988 70
23 1987 75
24 1986 87
25 1985 62
26 1984 69
27 1983 77
28 1982 64
29 1980 76
30 1979 83
31 1978 87
32 1977 94
33 1976 76
34 1975 79
35 1974 83
36 1973 57

In [23]:
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
    if row.Playoffs == 1:
        print(i, year, wins)

0 2012 93
1 2011 96
2 2010 90
13 1999 95
14 1998 88
16 1996 90

In [24]:
rangers_df_playoffs = rangers_df[rangers_df["Playoffs"] == 1].sort_values("Year", ascending = False)
# Rename the 'W' column to 'wins'
rangers_df_playoffs.rename(columns={'W': 'Wins'}, inplace=True)

print(rangers_df_playoffs[["Year", "Wins"]])

    Year  Wins
0   2012    93
1   2011    96
2   2010    90
13  1999    95
14  1998    88
16  1996    90

In [34]:
%%timeit
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
    if row.Playoffs == 1:
        x = 0

195 μs ± 1.98 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [27]:
%%timeit
rangers_df_playoffs = rangers_df[rangers_df["Playoffs"] == 1].sort_values("Year", ascending = False)
# Rename the 'W' column to 'wins'
rangers_df_playoffs.rename(columns={'W': 'Wins'}, inplace=True)

228 μs ± 4.4 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
# interesting

In [37]:
import pandas as pd
fileName = "./csvs/yankees.csv"
yankees_df = pd.read_csv(fileName)

print(yankees_df)

   Team League  Year   RS   RA    W    G  Playoffs
0   NYY     AL  2012  804  668   95  162         1
1   NYY     AL  2011  867  657   97  162         1
2   NYY     AL  2010  859  693   95  162         1
3   NYY     AL  2009  915  753  103  162         1
4   NYY     AL  2008  789  727   89  162         0
5   NYY     AL  2007  968  777   94  162         1
6   NYY     AL  2006  930  767   97  162         1
7   NYY     AL  2005  886  789   95  162         1
8   NYY     AL  2004  897  808  101  162         1
9   NYY     AL  2003  877  716  101  163         1
10  NYY     AL  2002  897  697  103  161         1
11  NYY     AL  2001  804  713   95  161         1
12  NYY     AL  2000  871  814   87  161         1
13  NYY     AL  1999  900  731   98  162         1
14  NYY     AL  1998  965  656  114  162         1
15  NYY     AL  1997  891  688   96  162         1
16  NYY     AL  1996  871  787   92  162         1
17  NYY     AL  1993  821  761   88  162         0
18  NYY     AL  1992  733  746   76  162         0
19  NYY     AL  1991  674  777   71  162         0
20  NYY     AL  1990  603  749   67  162         0
21  NYY     AL  1989  698  792   74  161         0
22  NYY     AL  1988  772  748   85  161         0
23  NYY     AL  1987  788  758   89  162         0
24  NYY     AL  1986  797  738   90  162         0
25  NYY     AL  1985  839  660   97  161         0
26  NYY     AL  1984  758  679   87  162         0
27  NYY     AL  1983  770  703   91  162         0
28  NYY     AL  1982  709  716   79  162         0
29  NYY     AL  1980  820  662  103  162         1
30  NYY     AL  1979  734  672   89  160         0
31  NYY     AL  1978  735  582  100  163         1
32  NYY     AL  1977  831  651  100  162         1
33  NYY     AL  1976  730  575   97  159         1
34  NYY     AL  1975  681  588   83  160         0
35  NYY     AL  1974  671  623   89  162         0
36  NYY     AL  1973  641  610   80  162         0
37  NYY     AL  1971  648  641   81  162         0
38  NYY     AL  1970  680  612   93  163         0
39  NYY     AL  1969  562  587   80  162         0
40  NYY     AL  1968  536  531   83  164         0
41  NYY     AL  1967  522  621   72  163         0
42  NYY     AL  1966  611  612   70  160         0
43  NYY     AL  1965  611  604   77  162         0
44  NYY     AL  1964  730  577   99  164         1
45  NYY     AL  1963  714  547  104  161         1
46  NYY     AL  1962  817  680   96  162         1

In [41]:

def calc_run_diff(runs_scored, runs_allowed):
    run_diff = runs_scored - runs_allowed
    return run_diff

In [44]:
run_diffs = []

for row in yankees_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    run_diffs.append(run_diff)

In [45]:
yankees_df["RD"] = run_diffs
print(yankees_df)

   Team League  Year   RS   RA    W    G  Playoffs   RD
0   NYY     AL  2012  804  668   95  162         1  136
1   NYY     AL  2011  867  657   97  162         1  210
2   NYY     AL  2010  859  693   95  162         1  166
3   NYY     AL  2009  915  753  103  162         1  162
4   NYY     AL  2008  789  727   89  162         0   62
5   NYY     AL  2007  968  777   94  162         1  191
6   NYY     AL  2006  930  767   97  162         1  163
7   NYY     AL  2005  886  789   95  162         1   97
8   NYY     AL  2004  897  808  101  162         1   89
9   NYY     AL  2003  877  716  101  163         1  161
10  NYY     AL  2002  897  697  103  161         1  200
11  NYY     AL  2001  804  713   95  161         1   91
12  NYY     AL  2000  871  814   87  161         1   57
13  NYY     AL  1999  900  731   98  162         1  169
14  NYY     AL  1998  965  656  114  162         1  309
15  NYY     AL  1997  891  688   96  162         1  203
16  NYY     AL  1996  871  787   92  162         1   84
17  NYY     AL  1993  821  761   88  162         0   60
18  NYY     AL  1992  733  746   76  162         0  -13
19  NYY     AL  1991  674  777   71  162         0 -103
20  NYY     AL  1990  603  749   67  162         0 -146
21  NYY     AL  1989  698  792   74  161         0  -94
22  NYY     AL  1988  772  748   85  161         0   24
23  NYY     AL  1987  788  758   89  162         0   30
24  NYY     AL  1986  797  738   90  162         0   59
25  NYY     AL  1985  839  660   97  161         0  179
26  NYY     AL  1984  758  679   87  162         0   79
27  NYY     AL  1983  770  703   91  162         0   67
28  NYY     AL  1982  709  716   79  162         0   -7
29  NYY     AL  1980  820  662  103  162         1  158
30  NYY     AL  1979  734  672   89  160         0   62
31  NYY     AL  1978  735  582  100  163         1  153
32  NYY     AL  1977  831  651  100  162         1  180
33  NYY     AL  1976  730  575   97  159         1  155
34  NYY     AL  1975  681  588   83  160         0   93
35  NYY     AL  1974  671  623   89  162         0   48
36  NYY     AL  1973  641  610   80  162         0   31
37  NYY     AL  1971  648  641   81  162         0    7
38  NYY     AL  1970  680  612   93  163         0   68
39  NYY     AL  1969  562  587   80  162         0  -25
40  NYY     AL  1968  536  531   83  164         0    5
41  NYY     AL  1967  522  621   72  163         0  -99
42  NYY     AL  1966  611  612   70  160         0   -1
43  NYY     AL  1965  611  604   77  162         0    7
44  NYY     AL  1964  730  577   99  164         1  153
45  NYY     AL  1963  714  547  104  161         1  167
46  NYY     AL  1962  817  680   96  162         1  137

In [50]:
max_rows = yankees_df.apply(lambda x: x.idxmax())
print(max_rows)

Team         0
League       0
Year         0
RS           5
RA          12
W           14
G           40
Playoffs     0
RD          14
dtype: int64

In [53]:
yankees_df_diff_sorted = yankees_df.sort_values("RD", ascending = False)[["Year", "RD"]]
print(yankees_df_diff_sorted.head())

    Year   RD
14  1998  309
1   2011  210
15  1997  203
10  2002  200
5   2007  191